* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  width: 700px;
  margin: 20px auto;
}

img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-top: 10px;
}

header {
  display: flex;
}

main h3 {
  color: #19304f;
}

#nome {
  color: #19304f;
  margin: 11px;
  padding: 6px;
}

article {
  margin: 10px;
  line-height: 18px;
  margin: 36px;
}

h3 {
  padding: 10px;
}

aside {
  background-color: #19304f;
}

section {
  color: #ffffff;
  margin: 30px;
}

p {
  font-style: normal;
  text-align: justify;
  padding: 5px;
}

i {
  color: #ffffff;
  padding: 5px;
  margin-top: 10px;
}

.linha {
  border-bottom: 2px solid #ffffff;
}
